body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background: url('../picture/background2.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
input {
    width: 95%;
    padding: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    width: 60%;
    padding: 16px;
    border: none;
    border-radius: 5px;
    background-color: #618B7D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    margin-left: 100px;
}